@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500;700&family=Kenia&display=swap');

@font-face {
  font-family: "New York";
  src: url(./Fonts/NewYork.otf);
}

/* GENERAL */
html, body {
  margin: 0;
  padding: 0;
  background: transparent;

  border-radius: 10px;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'New York', serif;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0px;
}

h2 {
  font-family: 'Kenia', sans-serif;
  margin: 0px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0px;
}

label {
	font-family: 'New York', serif;
	font-size: 1.25rem;
	display: block;
}

button {
	background-color: #1B575D;
	border: none;
	border-radius: 500px;

	cursor: pointer;
	transition: 0.25s all ease;
}

button.secondary {
	width: 100%;
	height: 56px;

	padding-left: 24px;
	padding-right: 24px;

	background-color: rgb(var(--bright-lime));

	font-family: 'Inter', sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	color: black;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type=text] {
	font-family: 'Inter', sans-serif;
	font-size: 1.25rem;
	font-weight: 500;

	background-color: rgb(225, 229, 239);
	border-radius: 500px;
	outline: none;
	border: none;

	padding-left: 24px;
	padding-right: 24px;

	height: 56px;
}

a {
	text-decoration: none;
}

#app {
	width: 100%;
	height: 100%;
}

.input-with-button {
	display: flex;
}

.input-with-button button {
	margin-left: 16px;
}

/* SPACING */
.margin-bottom-standard {
	margin-bottom: var(--space);
}

.margin-bottom-half {
	margin-bottom: calc(0.5 * var(--space));
}

.margin-bottom-quarter {
	margin-bottom: calc(0.25 * var(--space));
}

:root {
	/* COLORS */
	--bright-lime: 243, 254, 57;

	--space: 32px;
}

* {
  box-sizing: border-box;
}